/.last-package-update-day
/elpa/
/tramp
/recentf
/backups/
/transient/
*.sqlite
/quotes.json
/.bookmarks.el
/request/
/session.*
/auto-save-list/
/var/
/*.eld
/projectile.cache
/.org-id-locations
/anaconda-mode/
