[submodule "elisp/dictem"]
	path = elisp/dictem
	url = http://github.com/emacsmirror/dictem.git
[submodule "elisp/identica-mode"]
	path = elisp/identica-mode
	url = http://github.com/emacsmirror/identica-mode.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = http://github.com/philjackson/magit.git
[submodule "elisp/org2blog"]
	path = elisp/org2blog
	url = git@github.com:punchagan/org2blog.git
[submodule "elisp/org"]
	path = elisp/org
	url = http://repo.or.cz/r/org-mode.git
[submodule "elisp/python-mode"]
	path = elisp/python-mode
	url = http://github.com/emacsmirror/python-mode.git
[submodule "elisp/xml-rpc"]
	path = elisp/xml-rpc
	url = http://github.com/emacsmirror/xml-rpc.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = http://github.com/emacsmirror/yasnippet.git
[submodule "elisp/pastebin"]
	path = elisp/pastebin
	url = http://github.com/emacsmirror/pastebin.git
[submodule "elisp/color-theme"]
	path = elisp/color-theme
	url = http://github.com/haxney/color-theme.git
[submodule "elisp/org-hyde"]
	path = elisp/org-hyde
	url = git@github.com:punchagan/org-hyde.git
[submodule "elisp/haskell-mode"]
	path = elisp/haskell-mode
	url = https://github.com/emacsmirror/haskell-mode.git
